{% extends 'base.html' %}

{% load static %}

{% block link %}
    <link href="{% static 'bootstrap/bootstrap-5.2.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    {# <link href="{% static 'css/home.css' %}" rel="stylesheet"> #}
{% endblock %}

{% block title %}
    Список книг
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row row-cols-1 row-cols-md-2 g-2">

            {% for book in book_list %}
                <div class="col">
                    <div class="card shadow-sm">

                        {% if book.photo %}
                            <img src="{{ book.photo.url }}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="{% static 'image/book_icon.jpeg' %}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{ book.name }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'book_detail' book.pk %}" type="button"
                                       class="btn btn-sm btn-outline-secondary">Подробнее...</a>
                                </div>
                                <small class="text-muted">{{ book.price }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

